.mermaid {
    margin: 20px auto;
}

.mermaid>svg {
    margin: 10px auto;
}

.vp-doc table {
    margin-left: auto;
    margin-right: auto;
}

.vp-doc th,
.vp-doc td {
    font-size: 14px;
}

.VPNavBar .logo{
    display: block;
    max-width: 40px;
    height: auto;
}


.VPHomeHero .name{
    max-width: 620px;
}
